In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("2022.xlsx")

In [3]:
df.head(10)

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9193,11771,1.0,2022
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16138,20164,1.0,2022
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1605,1744,1.0,2022
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3159,3159,1.0,2022
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,3997,4297,1.0,2022
5,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Female-only (including Supernumerary),6261,7876,1.0,2022
6,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Gender-Neutral,1729,2252,1.0,2022
7,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Female-only (including Supernumerary),2464,2464,1.0,2022
8,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Gender-Neutral,677,737,1.0,2022
9,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Female-only (including Supernumerary),990,990,1.0,2022

In [4]:
NIT_Jalandhar = df[df["Institute"] == "Dr. B R Ambedkar National Institute of Technology, Jalandhar"]
NIT_Jalandhar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
2830,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,54131,67053,1.0,2022
2831,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),45890,70992,1.0,2022
2832,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,10370,13354,1.0,2022
2833,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),15448,15448,1.0,2022
2834,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,29569,49056,1.0,2022
...,...,...,...,...,...,...,...,...,...
51131,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),21723,22346,6.0,2022
51132,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,7378,8058,6.0,2022
51133,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),10168,10168,6.0,2022
51134,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2862,3197,6.0,2022
51135,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,ST,Female-only (including Supernumerary),4137,4137,6.0,2022

In [5]:
NIT_Jaipur = df[df["Institute"] == "Malaviya National Institute of Technology Jaipur"]
NIT_Jaipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
3054,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,621,1170,1.0,2022
3055,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),311,655,1.0,2022
3056,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,110,385,1.0,2022
3057,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,343,934,1.0,2022
3058,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Female-only (including Supernumerary),537,560,1.0,2022
...,...,...,...,...,...,...,...,...,...
51319,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),19599,19947,6.0,2022
51320,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,4270,6348,6.0,2022
51321,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),7948,9120,6.0,2022
51322,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2482,2641,6.0,2022
51323,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),3520,3520,6.0,2022

In [6]:
NIT_Bhopal = df[df["Institute"] == "Maulana Azad National Institute of Technology Bhopal"]
NIT_Bhopal

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
3247,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,592,1826,1.0,2022
3248,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),690,1003,1.0,2022
3249,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,146,238,1.0,2022
3250,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),156,156,1.0,2022
3251,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,626,1644,1.0,2022
...,...,...,...,...,...,...,...,...,...
51538,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,OBC-NCL,Gender-Neutral,226,437,6.0,2022
51539,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,OBC-NCL,Female-only (including Supernumerary),277,416,6.0,2022
51540,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,SC,Gender-Neutral,44,109,6.0,2022
51541,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,SC,Female-only (including Supernumerary),115,115,6.0,2022
51542,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,ST,Gender-Neutral,44,79,6.0,2022

In [7]:
NIT_Allahabad = df[df["Institute"] == "Motilal Nehru National Institute of Technology Allahabad"]
NIT_Allahabad

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
3473,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,24189,29767,1.0,2022
3474,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),26194,35469,1.0,2022
3475,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,4375,4468,1.0,2022
3476,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),7240,7240,1.0,2022
3477,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,8378,9571,1.0,2022
...,...,...,...,...,...,...,...,...,...
51728,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Female-only (including Supernumerary),15844,15844,6.0,2022
51729,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,5322,6253,6.0,2022
51730,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),8682,8682,6.0,2022
51731,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,2209,2209,6.0,2022
51732,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,ST,Female-only (including Supernumerary),3777,3777,6.0,2022

In [8]:
NIT_Agartala = df[df["Institute"] == "National Institute of Technology Agartala"]
NIT_Agartala

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
3666,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,OPEN,Gender-Neutral,90651,154972,1.0,2022
3667,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,OPEN,Female-only (including Supernumerary),75189,105666,1.0,2022
3668,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,EWS,Gender-Neutral,44363,52483,1.0,2022
3669,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,SC,Gender-Neutral,17206,17772,1.0,2022
3670,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,SC,Female-only (including Supernumerary),16043,16043,1.0,2022
...,...,...,...,...,...,...,...,...,...
51938,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),23624,24497,6.0,2022
51939,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,8151,8440,6.0,2022
51940,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),10428,10540,6.0,2022
51941,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,3148,3419,6.0,2022
51942,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),4107,4107,6.0,2022

In [9]:
NIT_Calicut = df[df["Institute"] == "National Institute of Technology Calicut"]
NIT_Calicut

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
3881,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,105,342,1.0,2022
3882,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),118,153,1.0,2022
3883,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,40,40,1.0,2022
3884,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,270,603,1.0,2022
3885,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),126,126,1.0,2022
...,...,...,...,...,...,...,...,...,...
52171,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),14741,14741,6.0,2022
52172,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,1783,6433,6.0,2022
52173,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),6877,6877,6.0,2022
52174,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1814,1814,6.0,2022
52175,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),2767,2767,6.0,2022

In [10]:
NIT_Delhi = df[df["Institute"] == "National Institute of Technology Delhi"]
NIT_Delhi

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
4126,National Institute of Technology Delhi,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,17922,33847,1.0,2022
4127,National Institute of Technology Delhi,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),32784,32784,1.0,2022
4128,National Institute of Technology Delhi,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,821,821,1.0,2022
4129,National Institute of Technology Delhi,"Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,6355,6355,1.0,2022
4130,National Institute of Technology Delhi,"Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Female-only (including Supernumerary),10156,10156,1.0,2022
...,...,...,...,...,...,...,...,...,...
52275,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,7442,9797,6.0,2022
52276,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),16131,16568,6.0,2022
52277,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,4012,4544,6.0,2022
52278,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),5033,5033,6.0,2022
52279,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1591,1618,6.0,2022

In [11]:
NIT_Durgapur = df[df["Institute"] == "National Institute of Technology Durgapur"]
NIT_Durgapur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
4231,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,23324,38086,1.0,2022
4232,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),29464,36140,1.0,2022
4233,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN (PwD),Gender-Neutral,221,221,1.0,2022
4234,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,8914,9271,1.0,2022
4235,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),19284,19284,1.0,2022
...,...,...,...,...,...,...,...,...,...
52484,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),18349,18349,6.0,2022
52485,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,4398,6918,6.0,2022
52486,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),4938,4938,6.0,2022
52487,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2303,2468,6.0,2022
52488,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),3592,3592,6.0,2022

In [12]:
NIT_Goa = df[df["Institute"] == "National Institute of Technology Goa"]
NIT_Goa

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
4448,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OPEN,Gender-Neutral,68088,86047,1.0,2022
4449,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OPEN,Female-only (including Supernumerary),71584,71584,1.0,2022
4450,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,EWS,Gender-Neutral,19477,19477,1.0,2022
4451,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,EWS,Female-only (including Supernumerary),44077,44077,1.0,2022
4452,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OBC-NCL,Gender-Neutral,45080,65174,1.0,2022
...,...,...,...,...,...,...,...,...,...
52577,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,10306,11506,6.0,2022
52578,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),16831,16831,6.0,2022
52579,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL (PwD),Gender-Neutral,784,784,6.0,2022
52580,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5071,5340,6.0,2022
52581,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1983,1983,6.0,2022

In [13]:
NIT_Hamirpur = df[df["Institute"] == "National Institute of Technology Hamirpur"]
NIT_Hamirpur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
4547,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,1181,5404,1.0,2022
4548,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),1828,2026,1.0,2022
4549,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,616,1529,1.0,2022
4550,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),451,451,1.0,2022
4551,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,5184,11949,1.0,2022
...,...,...,...,...,...,...,...,...,...
52806,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),18117,19178,6.0,2022
52807,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,3875,5415,6.0,2022
52808,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),7751,9739,6.0,2022
52809,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1191,2136,6.0,2022
52810,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),2803,2803,6.0,2022

In [14]:
NIT_Surathkal = df[df["Institute"] == "National Institute of Technology Karnataka, Surathkal"]
NIT_Surathkal

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
4784,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,OPEN,Gender-Neutral,1923,3266,1.0,2022
4785,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,OPEN,Female-only (including Supernumerary),4868,4868,1.0,2022
4786,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,OPEN (PwD),Gender-Neutral,63,63,1.0,2022
4787,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,EWS,Gender-Neutral,1864,1901,1.0,2022
4788,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,EWS,Female-only (including Supernumerary),5678,5678,1.0,2022
...,...,...,...,...,...,...,...,...,...
53050,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),14912,15310,6.0,2022
53051,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,3901,4239,6.0,2022
53052,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),5229,5229,6.0,2022
53053,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,1393,1393,6.0,2022
53054,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Female-only (including Supernumerary),2661,2661,6.0,2022

In [15]:
NIT_Meghalaya = df[df["Institute"] == "National Institute of Technology Meghalaya"]
NIT_Meghalaya

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
5030,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,73469,73469,1.0,2022
5031,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),179166,179166,1.0,2022
5032,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,3256,5677,1.0,2022
5033,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),2985,3759,1.0,2022
5034,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,31848,40715,1.0,2022
...,...,...,...,...,...,...,...,...,...
53115,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,12929,13378,6.0,2022
53116,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),20529,20529,6.0,2022
53117,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5884,6184,6.0,2022
53118,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),9830,9830,6.0,2022
53119,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2260,2430,6.0,2022

In [16]:
NIT_Nagaland = df[df["Institute"] == "National Institute of Technology Nagaland"]
NIT_Nagaland

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
5096,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,3230,6389,1.0,2022
5097,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),3255,4432,1.0,2022
5098,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,42768,46047,1.0,2022
5099,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Female-only (including Supernumerary),50821,56588,1.0,2022
5100,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,EWS,Gender-Neutral,6869,7145,1.0,2022
...,...,...,...,...,...,...,...,...,...
53167,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),60132,65046,6.0,2022
53168,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,EWS,Gender-Neutral,7851,8216,6.0,2022
53169,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,15575,15626,6.0,2022
53170,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),21947,22338,6.0,2022
53171,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,7250,7827,6.0,2022

In [17]:
NIT_Patna = df[df["Institute"] == "National Institute of Technology Patna"]
NIT_Patna

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
5149,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,678,2013,1.0,2022
5150,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),938,1641,1.0,2022
5151,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,279,305,1.0,2022
5152,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),326,326,1.0,2022
5153,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,686,920,1.0,2022
...,...,...,...,...,...,...,...,...,...
53412,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,EWS,Gender-Neutral,6233,6233,6.0,2022
53413,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,OBC-NCL,Gender-Neutral,13181,13290,6.0,2022
53414,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,OBC-NCL,Female-only (including Supernumerary),18666,18666,6.0,2022
53415,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,SC,Gender-Neutral,7234,7234,6.0,2022
53416,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,ST,Gender-Neutral,2332,2332,6.0,2022

In [18]:
NIT_Puducherry = df[df["Institute"] == "National Institute of Technology Puducherry"]
NIT_Puducherry

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
5396,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,98816,166389,1.0,2022
5397,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),107048,116698,1.0,2022
5398,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Female-only (including Supernumerary),71145,71145,1.0,2022
5399,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,52674,57886,1.0,2022
5400,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Female-only (including Supernumerary),51811,51811,1.0,2022
...,...,...,...,...,...,...,...,...,...
53491,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,12890,13852,6.0,2022
53492,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),15896,19257,6.0,2022
53493,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5462,6054,6.0,2022
53494,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1970,1970,6.0,2022
53495,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),3109,3109,6.0,2022

In [19]:
NIT_Raipur = df[df["Institute"] == "National Institute of Technology Raipur"]
NIT_Raipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
5478,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,1134,2092,1.0,2022
5479,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),1657,1657,1.0,2022
5480,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,1465,1465,1.0,2022
5481,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),187,187,1.0,2022
5482,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,664,807,1.0,2022
...,...,...,...,...,...,...,...,...,...
53740,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),22505,22728,6.0,2022
53741,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,6680,7664,6.0,2022
53742,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),9587,9587,6.0,2022
53743,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2695,2841,6.0,2022
53744,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Female-only (including Supernumerary),4225,4225,6.0,2022

In [20]:
NIT_Sikkim = df[df["Institute"] == "National Institute of Technology Sikkim"]
NIT_Sikkim

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
5732,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,230910,387913,1.0,2022
5733,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),351311,385156,1.0,2022
5734,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,242074,243123,1.0,2022
5735,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,9737,9737,1.0,2022
5736,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,42349,43955,1.0,2022
...,...,...,...,...,...,...,...,...,...
53796,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Gender-Neutral,43249,47258,6.0,2022
53797,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),54580,58990,6.0,2022
53798,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,14757,15307,6.0,2022
53799,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,7105,7105,6.0,2022
53800,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),4181,4181,6.0,2022

In [21]:
NIT_Arunachal_Pradesh = df[df["Institute"] == "National Institute of Technology Arunachal Pradesh"]
NIT_Arunachal_Pradesh

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
5792,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,159009,167070,1.0,2022
5793,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,78998,78998,1.0,2022
5794,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,SC,Gender-Neutral,27157,27157,1.0,2022
5795,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,2666,4644,1.0,2022
5796,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),2647,3932,1.0,2022
...,...,...,...,...,...,...,...,...,...
53867,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,14560,15200,6.0,2022
53868,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),23313,23313,6.0,2022
53869,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,6946,7366,6.0,2022
53870,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),10747,10747,6.0,2022
53871,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,860,860,6.0,2022

In [22]:
NIT_Jamshedpur = df[df["Institute"] == "National Institute of Technology, Jamshedpur"]
NIT_Jamshedpur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
5865,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,30665,38445,1.0,2022
5866,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),49790,54228,1.0,2022
5867,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,1744,1744,1.0,2022
5868,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,5638,6429,1.0,2022
5869,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,11276,12155,1.0,2022
...,...,...,...,...,...,...,...,...,...
54040,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Gender-Neutral,13431,14331,6.0,2022
54041,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Female-only (including Supernumerary),16706,18481,6.0,2022
54042,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,6715,7103,6.0,2022
54043,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),9861,9861,6.0,2022
54044,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,2654,2847,6.0,2022

In [23]:
NIT_Kurukshetra= df[df["Institute"] == "National Institute of Technology, Kurukshetra"]
NIT_Kurukshetra

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
6044,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,20509,37854,1.0,2022
6045,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),25835,46531,1.0,2022
6046,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,899,899,1.0,2022
6047,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,5841,6157,1.0,2022
6048,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Female-only (including Supernumerary),7312,7312,1.0,2022
...,...,...,...,...,...,...,...,...,...
54194,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Female-only (including Supernumerary),19095,19160,6.0,2022
54195,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,3388,6613,6.0,2022
54196,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),8455,8455,6.0,2022
54197,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,2715,3117,6.0,2022
54198,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,ST,Female-only (including Supernumerary),3956,3956,6.0,2022

In [24]:
NIT_Manipur = df[df["Institute"] == "National Institute of Technology, Manipur"]
NIT_Manipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
6204,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,99244,175291,1.0,2022
6205,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),77255,77255,1.0,2022
6206,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,62063,73410,1.0,2022
6207,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Female-only (including Supernumerary),83431,83431,1.0,2022
6208,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,3291,6515,1.0,2022
...,...,...,...,...,...,...,...,...,...
54267,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,14606,15543,6.0,2022
54268,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),22201,22201,6.0,2022
54269,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,7041,7089,6.0,2022
54270,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),9874,9874,6.0,2022
54271,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2745,2745,6.0,2022

In [25]:
NIT_Mizoram = df[df["Institute"] == "National Institute of Technology, Mizoram"]
NIT_Mizoram

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
6279,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,161306,365984,1.0,2022
6280,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),326350,326350,1.0,2022
6281,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,150287,150287,1.0,2022
6282,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,8280,8280,1.0,2022
6283,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),14649,14649,1.0,2022
...,...,...,...,...,...,...,...,...,...
54327,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,EWS,Female-only (including Supernumerary),9412,9412,6.0,2022
54328,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,15586,15943,6.0,2022
54329,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),21866,21866,6.0,2022
54330,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,7515,7625,6.0,2022
54331,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2832,2898,6.0,2022

In [26]:
NIT_Rourkela = df[df["Institute"] == "National Institute of Technology, Rourkela"]
NIT_Rourkela

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
6349,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,894,1185,1.0,2022
6350,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),481,481,1.0,2022
6351,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,101,101,1.0,2022
6352,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,561,832,1.0,2022
6353,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Female-only (including Supernumerary),484,484,1.0,2022
...,...,...,...,...,...,...,...,...,...
54730,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,EWS,Gender-Neutral,6414,6414,6.0,2022
54731,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,OBC-NCL,Gender-Neutral,9796,10927,6.0,2022
54732,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,OBC-NCL,Female-only (including Supernumerary),16284,16284,6.0,2022
54733,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,SC,Gender-Neutral,3635,4627,6.0,2022
54734,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,ST,Gender-Neutral,3293,3293,6.0,2022

In [27]:
NIT_Silchar = df[df["Institute"] == "National Institute of Technology, Silchar"]
NIT_Silchar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
6761,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,32016,59124,1.0,2022
6762,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),35736,58478,1.0,2022
6763,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,386,386,1.0,2022
6764,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,8659,9055,1.0,2022
6765,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Female-only (including Supernumerary),17212,17212,1.0,2022
...,...,...,...,...,...,...,...,...,...
54862,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),15270,17393,6.0,2022
54863,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,4313,5545,6.0,2022
54864,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),9126,9210,6.0,2022
54865,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1475,1957,6.0,2022
54866,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),3515,3589,6.0,2022

In [28]:
NIT_Srinagar = df[df["Institute"] == "National Institute of Technology, Srinagar"]
NIT_Srinagar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
6900,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,OPEN,Gender-Neutral,66523,77372,1.0,2022
6901,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,OPEN,Female-only (including Supernumerary),91679,104467,1.0,2022
6902,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,EWS,Gender-Neutral,28894,33467,1.0,2022
6903,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,OBC-NCL,Gender-Neutral,95184,213785,1.0,2022
6904,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,SC,Gender-Neutral,17526,19455,1.0,2022
...,...,...,...,...,...,...,...,...,...
55030,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),23436,24409,6.0,2022
55031,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,7360,8474,6.0,2022
55032,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),10907,11441,6.0,2022
55033,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2864,3128,6.0,2022
55034,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),4262,4262,6.0,2022

In [29]:
NIT_Tiruchirappalli = df[df["Institute"] == "National Institute of Technology, Tiruchirappalli"]
NIT_Tiruchirappalli

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round,Year
7080,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,296,797,1.0,2022
7081,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),173,191,1.0,2022
7082,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,52,52,1.0,2022
7083,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,661,1696,1.0,2022
7084,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),405,405,1.0,2022
...,...,...,...,...,...,...,...,...,...
55265,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL (PwD),Gender-Neutral,904,904,6.0,2022
55266,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,3022,3986,6.0,2022
55267,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),5860,6678,6.0,2022
55268,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1219,1364,6.0,2022
55269,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),2278,2278,6.0,2022

In [30]:
NIT_Uttarakhand = df[df["Institute"] == "National Institute of Technology Uttarakhand"]

In [31]:
NIT_Warangal = df[df["Institute"] == "National Institute of Technology Warangal"]

In [32]:
NIT_Surat = df[df["Institute"] == "Sardar Vallabhbhai National Institute of Technology, Surat"]

In [33]:
NIT_Nagpur = df[df["Institute"] == "Visvesvaraya National Institute of Technology, Nagpur"]

In [34]:
NIT_Andhra_Pradesh = df[df["Institute"] == "National Institute of Technology, Andhra Pradesh"]

In [35]:
df_list = [NIT_Agartala,NIT_Allahabad,NIT_Andhra_Pradesh,NIT_Arunachal_Pradesh,NIT_Bhopal,NIT_Calicut,NIT_Delhi,
          NIT_Durgapur,NIT_Goa,NIT_Hamirpur,NIT_Jaipur,NIT_Jalandhar,NIT_Jamshedpur,NIT_Kurukshetra,NIT_Manipur,NIT_Meghalaya,
          NIT_Mizoram,NIT_Nagaland,NIT_Nagpur,NIT_Puducherry,NIT_Patna,NIT_Rourkela,NIT_Raipur ,NIT_Sikkim,NIT_Silchar,
          NIT_Srinagar,NIT_Surat,NIT_Surathkal,NIT_Tiruchirappalli,NIT_Uttarakhand,NIT_Warangal]

In [36]:
NIT = pd.concat(df_list , axis=0 , ignore_index=True)

In [37]:
NIT.to_csv("NIT_2022")

In [38]:
NIT.shape

(29343, 9)

In [39]:
NIT.dtypes

Institute     object
Program       object
Quota         object
Seat Type     object
Gender        object
Opening       object
Closing       object
Round        float64
Year           int64
dtype: object