In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("2023.xlsx")

In [3]:
df.head(10)

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,9462,12911,1
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),16218,19272,1
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,1852,1977,1
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),3056,3056,1
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,4014,4642,1
5,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Female-only (including Supernumerary),5905,7094,1
6,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Gender-Neutral,1941,2441,1
7,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Female-only (including Supernumerary),2802,2802,1
8,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Gender-Neutral,713,852,1
9,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Female-only (including Supernumerary),1349,1349,1

In [4]:
NIT_Jalandhar = df[df["Institute"] == "Dr. B R Ambedkar National Institute of Technology, Jalandhar"]
NIT_Jalandhar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3090,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,38945,54305,1
3091,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),60407,61095,1
3092,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,12027,14619,1
3093,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),16719,16719,1
3094,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,45711,53248,1
...,...,...,...,...,...,...,...,...
3350,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),18721,19041,1
3351,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,6411,7037,1
3352,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),8556,8556,1
3353,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2644,2825,1
3354,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,ST,Female-only (including Supernumerary),3846,3846,1

In [5]:
NIT_Jaipur = df[df["Institute"] == "Malaviya National Institute of Technology Jaipur"]
NIT_Jaipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3355,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,155,1494,1
3356,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),581,699,1
3357,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,155,196,1
3358,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,629,1551,1
3359,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Female-only (including Supernumerary),526,761,1
...,...,...,...,...,...,...,...,...
3555,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),16357,16423,1
3556,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,5257,5952,1
3557,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),7638,7638,1
3558,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2279,2302,1
3559,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),3137,3137,1

In [6]:
NIT_Bhopal = df[df["Institute"] == "Maulana Azad National Institute of Technology Bhopal"]
NIT_Bhopal

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3560,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,532,1720,1
3561,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),184,999,1
3562,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,149,282,1
3563,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),238,238,1
3564,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,758,1425,1
...,...,...,...,...,...,...,...,...
3783,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,OBC-NCL,Gender-Neutral,103,173,1
3784,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,OBC-NCL,Female-only (including Supernumerary),126,129,1
3785,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,SC,Gender-Neutral,92,110,1
3786,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,SC,Female-only (including Supernumerary),88,88,1
3787,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,ST,Gender-Neutral,12,37,1

In [7]:
NIT_Allahabad = df[df["Institute"] == "Motilal Nehru National Institute of Technology Allahabad"]
NIT_Allahabad

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3788,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,19141,27473,1
3789,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),27668,33697,1
3790,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,4459,4628,1
3791,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),6470,6470,1
3792,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,8821,10057,1
...,...,...,...,...,...,...,...,...
3994,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Female-only (including Supernumerary),16312,16312,1
3995,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,4905,5174,1
3996,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),7047,7047,1
3997,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,2275,2275,1
3998,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,ST,Female-only (including Supernumerary),3445,3445,1

In [8]:
NIT_Agartala = df[df["Institute"] == "National Institute of Technology Agartala"]
NIT_Agartala

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3999,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,OPEN,Gender-Neutral,104599,166551,1
4000,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,OPEN,Female-only (including Supernumerary),85416,127794,1
4001,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,EWS,Gender-Neutral,36582,45613,1
4002,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,EWS,Female-only (including Supernumerary),39004,39004,1
4003,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,SC,Gender-Neutral,16635,20579,1
...,...,...,...,...,...,...,...,...
4215,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL (PwD),Gender-Neutral,1048,1048,1
4216,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,6963,7447,1
4217,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),9762,9917,1
4218,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2759,2862,1
4219,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),3793,3793,1

In [9]:
NIT_Calicut = df[df["Institute"] == "National Institute of Technology Calicut"]
NIT_Calicut

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4220,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,60,163,1
4221,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),76,86,1
4222,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,7,7,1
4223,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,148,304,1
4224,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),103,103,1
...,...,...,...,...,...,...,...,...
4472,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL (PwD),Gender-Neutral,592,592,1
4473,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5115,5836,1
4474,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),6684,6684,1
4475,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2110,2110,1
4476,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),2771,2771,1

In [10]:
NIT_Delhi = df[df["Institute"] == "National Institute of Technology Delhi"]
NIT_Delhi

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4477,National Institute of Technology Delhi,Artificial Intelligence and Data Science (4 Ye...,HS,OPEN,Gender-Neutral,11555,11724,1
4478,National Institute of Technology Delhi,Artificial Intelligence and Data Science (4 Ye...,HS,OPEN,Female-only (including Supernumerary),10639,10639,1
4479,National Institute of Technology Delhi,Artificial Intelligence and Data Science (4 Ye...,HS,EWS,Female-only (including Supernumerary),4939,4939,1
4480,National Institute of Technology Delhi,Artificial Intelligence and Data Science (4 Ye...,HS,OBC-NCL,Gender-Neutral,4260,4564,1
4481,National Institute of Technology Delhi,Artificial Intelligence and Data Science (4 Ye...,HS,SC,Gender-Neutral,857,2046,1
...,...,...,...,...,...,...,...,...
4587,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,7433,8467,1
4588,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),10682,10682,1
4589,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,1156,3789,1
4590,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),4587,4587,1
4591,National Institute of Technology Delhi,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1320,1414,1

In [11]:
NIT_Durgapur = df[df["Institute"] == "National Institute of Technology Durgapur"]
NIT_Durgapur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4592,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,24224,37144,1
4593,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),32359,36566,1
4594,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN (PwD),Gender-Neutral,617,617,1
4595,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,8454,8674,1
4596,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),12425,12425,1
...,...,...,...,...,...,...,...,...
4806,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL (PwD),Gender-Neutral,898,898,1
4807,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,5907,6264,1
4808,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),8498,8498,1
4809,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2295,2322,1
4810,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),3447,3447,1

In [12]:
NIT_Goa = df[df["Institute"] == "National Institute of Technology Goa"]
NIT_Goa

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4811,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OPEN,Gender-Neutral,54334,79456,1
4812,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OPEN,Female-only (including Supernumerary),71029,71029,1
4813,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OBC-NCL,Gender-Neutral,60717,71143,1
4814,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OBC-NCL,Female-only (including Supernumerary),100835,100835,1
4815,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,SC,Gender-Neutral,59326,59326,1
...,...,...,...,...,...,...,...,...
4904,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,8019,9340,1
4905,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),13824,13824,1
4906,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL (PwD),Gender-Neutral,523,523,1
4907,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5027,5155,1
4908,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1791,1791,1

In [13]:
NIT_Hamirpur = df[df["Institute"] == "National Institute of Technology Hamirpur"]
NIT_Hamirpur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4909,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,1565,5337,1
4910,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),1181,2689,1
4911,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,1988,3255,1
4912,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),886,886,1
4913,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,2250,18405,1
...,...,...,...,...,...,...,...,...
5143,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),12029,15904,1
5144,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,4952,5353,1
5145,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),6430,6430,1
5146,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1820,2113,1
5147,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),3539,3539,1

In [14]:
NIT_Surathkal = df[df["Institute"] == "National Institute of Technology Karnataka, Surathkal"]
NIT_Surathkal

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5148,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,OPEN,Gender-Neutral,3128,4164,1
5149,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,OPEN,Female-only (including Supernumerary),5265,5492,1
5150,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,EWS,Gender-Neutral,1506,1506,1
5151,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,OBC-NCL,Gender-Neutral,2042,3390,1
5152,"National Institute of Technology Karnataka, Su...","Artificial Intelligence (4 Years, Bachelor of ...",HS,OBC-NCL,Female-only (including Supernumerary),4583,4583,1
...,...,...,...,...,...,...,...,...
5391,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),10919,10919,1
5392,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,4218,4736,1
5393,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),7113,7113,1
5394,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,1124,1150,1
5395,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Female-only (including Supernumerary),2473,2473,1

In [15]:
NIT_Meghalaya = df[df["Institute"] == "National Institute of Technology Meghalaya"]
NIT_Meghalaya

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5396,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,138087,138087,1
5397,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),192162,192162,1
5398,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,2860,6348,1
5399,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),4196,4848,1
5400,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,35728,43444,1
...,...,...,...,...,...,...,...,...
5458,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,10952,11032,1
5459,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),17810,17810,1
5460,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5868,6031,1
5461,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),8389,8389,1
5462,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2258,2424,1

In [16]:
NIT_Nagaland = df[df["Institute"] == "National Institute of Technology Nagaland"]
NIT_Nagaland

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5463,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,2791,6001,1
5464,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),4435,6883,1
5465,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,40288,46135,1
5466,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Female-only (including Supernumerary),53607,54592,1
5467,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,EWS,Gender-Neutral,7773,7950,1
5468,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OBC-NCL,Gender-Neutral,14699,14835,1
5469,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OBC-NCL,Female-only (including Supernumerary),16764,16764,1
5470,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,SC,Gender-Neutral,6703,6703,1
5471,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,SC,Female-only (including Supernumerary),9702,9702,1
5472,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",HS,ST,Gender-Neutral,1572,7387,1
5473,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",HS,ST,Female-only (including Supernumerary),3724,4567,1
5474,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",OS,OPEN,Gender-Neutral,17599,22998,1
5475,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",OS,OPEN,Female-only (including Supernumerary),19726,19726,1
5476,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",OS,OPEN (PwD),Female-only (including Supernumerary),2128,2128,1
5477,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",OS,EWS,Gender-Neutral,3813,4041,1
5478,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",OS,EWS (PwD),Gender-Neutral,152,152,1
5479,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",OS,OBC-NCL,Gender-Neutral,6156,6807,1
5480,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",OS,OBC-NCL,Female-only (including Supernumerary),14338,14338,1
5481,National Institute of Technology Nagaland,"Computer Science and Engineering (4 Years, Bac...",OS,SC,Gender-Neutral,3438,3460,1
5482,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,HS,ST,Gender-Neutral,6487,11536,1
5483,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,HS,ST,Female-only (including Supernumerary),8021,11295,1
5484,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,OS,OPEN,Gender-Neutral,31056,36870,1
5485,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,OS,OPEN,Female-only (including Supernumerary),39342,41414,1
5486,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,OS,EWS,Gender-Neutral,5823,6224,1
5487,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,OS,OBC-NCL,Gender-Neutral,11175,11525,1
5488,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,OS,OBC-NCL,Female-only (including Supernumerary),17956,17956,1
5489,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,OS,SC,Gender-Neutral,6159,6159,1
5490,National Institute of Technology Nagaland,Electrical and Electronics Engineering (4 Year...,OS,SC,Female-only (including Supernumerary),8454,8454,1
5491,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,HS,ST,Gender-Neutral,7050,14307,1
5492,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,HS,ST,Female-only (including Supernumerary),11932,16320,1
5493,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,OS,OPEN,Gender-Neutral,25229,31705,1
5494,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,OS,OPEN,Female-only (including Supernumerary),36930,38022,1
5495,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,OS,OPEN (PwD),Gender-Neutral,2034,2034,1
5496,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,OS,EWS,Gender-Neutral,5050,5285,1
5497,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,OS,OBC-NCL,Gender-Neutral,9519,10703,1
5498,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,OS,OBC-NCL,Female-only (including Supernumerary),16889,16889,1
5499,National Institute of Technology Nagaland,Electronics and Communication Engineering (4 Y...,OS,SC,Gender-Neutral,4170,4769,1
5500,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,HS,ST,Gender-Neutral,11318,18376,1
5501,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,HS,ST,Female-only (including Supernumerary),16881,20400,1
5502,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,OS,OPEN,Gender-Neutral,37331,39295,1
5503,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,OS,OPEN,Female-only (including Supernumerary),46704,49164,1
5504,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,OS,OPEN (PwD),Gender-Neutral,2768,2768,1
5505,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,OS,EWS,Gender-Neutral,6486,6642,1
5506,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,OS,OBC-NCL,Gender-Neutral,12924,13160,1
5507,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,OS,OBC-NCL,Female-only (including Supernumerary),16923,16923,1
5508,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,OS,OBC-NCL (PwD),Gender-Neutral,1221,1221,1
5509,National Institute of Technology Nagaland,Electronics and Instrumentation Engineering (4...,OS,SC,Gender-Neutral,6190,6257,1
5510,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",HS,ST,Gender-Neutral,7208,14342,1
5511,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",HS,ST,Female-only (including Supernumerary),7409,12360,1
5512,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Gender-Neutral,36249,41952,1
5513,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),51946,53500,1
5514,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,EWS,Gender-Neutral,6777,6905,1
5515,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,12285,12649,1
5516,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),18714,19608,1
5517,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,6319,6690,1

In [17]:
NIT_Patna = df[df["Institute"] == "National Institute of Technology Patna"]
NIT_Patna

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5518,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,1650,2410,1
5519,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),1563,2078,1
5520,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,198,273,1
5521,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),201,201,1
5522,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,1012,1231,1
...,...,...,...,...,...,...,...,...
5774,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,OBC-NCL,Gender-Neutral,10750,11610,1
5775,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,OBC-NCL,Female-only (including Supernumerary),17418,17418,1
5776,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,SC,Gender-Neutral,5520,5520,1
5777,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,SC,Female-only (including Supernumerary),7995,7995,1
5778,National Institute of Technology Patna,Mechanical Engineering with Specialization in ...,OS,ST,Gender-Neutral,2558,2558,1

In [18]:
NIT_Puducherry = df[df["Institute"] == "National Institute of Technology Puducherry"]
NIT_Puducherry

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5779,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,101304,159343,1
5780,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),62729,88829,1
5781,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,85262,85262,1
5782,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,57042,60154,1
5783,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Female-only (including Supernumerary),54783,54783,1
...,...,...,...,...,...,...,...,...
5863,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,10683,11307,1
5864,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),13860,14485,1
5865,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5900,6210,1
5866,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2202,2202,1
5867,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST (PwD),Gender-Neutral,51,51,1

In [19]:
NIT_Raipur = df[df["Institute"] == "National Institute of Technology Raipur"]
NIT_Raipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5868,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,1003,1726,1
5869,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),773,773,1
5870,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,506,506,1
5871,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),743,743,1
5872,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,836,1842,1
...,...,...,...,...,...,...,...,...
6122,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),18071,18797,1
6123,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,6609,7236,1
6124,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),8499,8499,1
6125,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2705,2822,1
6126,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Female-only (including Supernumerary),3457,3457,1

In [20]:
NIT_Sikkim = df[df["Institute"] == "National Institute of Technology Sikkim"]
NIT_Sikkim

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6127,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,120086,560508,1
6128,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),438516,502777,1
6129,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,325633,369398,1
6130,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Female-only (including Supernumerary),312836,312836,1
6131,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,14349,14349,1
...,...,...,...,...,...,...,...,...
6186,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),47017,52531,1
6187,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,11934,13009,1
6188,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5521,5521,1
6189,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2564,2564,1
6190,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),3712,3712,1

In [21]:
NIT_Arunachal_Pradesh = df[df["Institute"] == "National Institute of Technology Arunachal Pradesh"]
NIT_Arunachal_Pradesh

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6191,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,97382,97382,1
6192,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,49343,49343,1
6193,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,116043,116043,1
6194,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,SC,Gender-Neutral,30962,30962,1
6195,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,2843,4240,1
...,...,...,...,...,...,...,...,...
6251,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,EWS,Gender-Neutral,6409,6409,1
6252,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,12637,13443,1
6253,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),18591,18591,1
6254,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,6125,6214,1
6255,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),4211,4211,1

In [22]:
NIT_Jamshedpur = df[df["Institute"] == "National Institute of Technology, Jamshedpur"]
NIT_Jamshedpur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6256,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,32977,44282,1
6257,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),49434,52451,1
6258,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,1417,1417,1
6259,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,7078,7759,1
6260,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,12365,13727,1
...,...,...,...,...,...,...,...,...
6428,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Gender-Neutral,10067,12408,1
6429,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Female-only (including Supernumerary),16245,16680,1
6430,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,5198,6180,1
6431,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),9514,9514,1
6432,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,2437,2723,1

In [23]:
NIT_Kurukshetra= df[df["Institute"] == "National Institute of Technology, Kurukshetra"]
NIT_Kurukshetra

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6433,"National Institute of Technology, Kurukshetra",Artificial Intelligence and Machine Learning (...,HS,OPEN,Gender-Neutral,3543,11689,1
6434,"National Institute of Technology, Kurukshetra",Artificial Intelligence and Machine Learning (...,HS,OPEN,Female-only (including Supernumerary),14728,15687,1
6435,"National Institute of Technology, Kurukshetra",Artificial Intelligence and Machine Learning (...,HS,OPEN (PwD),Gender-Neutral,563,563,1
6436,"National Institute of Technology, Kurukshetra",Artificial Intelligence and Machine Learning (...,HS,EWS,Gender-Neutral,1668,1864,1
6437,"National Institute of Technology, Kurukshetra",Artificial Intelligence and Machine Learning (...,HS,EWS,Female-only (including Supernumerary),3439,3439,1
...,...,...,...,...,...,...,...,...
6649,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Female-only (including Supernumerary),15479,16451,1
6650,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,4676,5876,1
6651,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),6969,6969,1
6652,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,1755,1755,1
6653,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,ST,Female-only (including Supernumerary),3723,3723,1

In [24]:
NIT_Manipur = df[df["Institute"] == "National Institute of Technology, Manipur"]
NIT_Manipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6654,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,97608,198728,1
6655,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),147975,147975,1
6656,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,65980,95944,1
6657,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Female-only (including Supernumerary),137776,137776,1
6658,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,3456,6885,1
...,...,...,...,...,...,...,...,...
6722,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,13090,13971,1
6723,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),15613,15613,1
6724,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,6459,6882,1
6725,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),9556,9556,1
6726,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2567,2567,1

In [25]:
NIT_Mizoram = df[df["Institute"] == "National Institute of Technology, Mizoram"]
NIT_Mizoram

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6727,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,294734,370912,1
6728,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),201922,234729,1
6729,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,11665,11665,1
6730,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),11425,11425,1
6731,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,43318,46544,1
...,...,...,...,...,...,...,...,...
6791,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,EWS,Female-only (including Supernumerary),8632,8632,1
6792,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,13112,13932,1
6793,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),18919,18919,1
6794,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,6742,6911,1
6795,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2568,2621,1

In [26]:
NIT_Rourkela = df[df["Institute"] == "National Institute of Technology, Rourkela"]
NIT_Rourkela

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6796,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,449,781,1
6797,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),430,430,1
6798,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,289,289,1
6799,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,459,478,1
6800,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Female-only (including Supernumerary),971,971,1
...,...,...,...,...,...,...,...,...
7188,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,OPEN,Female-only (including Supernumerary),30695,30695,1
7189,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,EWS,Gender-Neutral,5322,5322,1
7190,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,OBC-NCL,Gender-Neutral,7689,10354,1
7191,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,SC,Gender-Neutral,1768,2455,1
7192,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,ST,Gender-Neutral,2387,2387,1

In [27]:
NIT_Silchar = df[df["Institute"] == "National Institute of Technology, Silchar"]
NIT_Silchar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
7193,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,19868,62165,1
7194,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),48299,58694,1
7195,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,644,644,1
7196,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,10229,10875,1
7197,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Female-only (including Supernumerary),11206,15601,1
...,...,...,...,...,...,...,...,...
7331,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL (PwD),Gender-Neutral,607,607,1
7332,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,4077,5109,1
7333,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),7609,7699,1
7334,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1812,1939,1
7335,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),2743,2743,1

In [28]:
NIT_Srinagar = df[df["Institute"] == "National Institute of Technology, Srinagar"]
NIT_Srinagar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
7336,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,OPEN,Gender-Neutral,46491,86002,1
7337,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,OPEN,Female-only (including Supernumerary),126896,139654,1
7338,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,OPEN (PwD),Gender-Neutral,2358,2358,1
7339,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,EWS,Gender-Neutral,40185,49998,1
7340,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",JK,OBC-NCL,Gender-Neutral,46908,281200,1
...,...,...,...,...,...,...,...,...
7517,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),18918,19566,1
7518,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,7039,7448,1
7519,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),10078,10182,1
7520,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2910,2936,1
7521,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),4002,4002,1

In [29]:
NIT_Tiruchirappalli = df[df["Institute"] == "National Institute of Technology, Tiruchirappalli"]
NIT_Tiruchirappalli

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
7522,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,100,358,1
7523,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),53,94,1
7524,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,102,102,1
7525,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,190,212,1
7526,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),375,375,1
...,...,...,...,...,...,...,...,...
7756,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL (PwD),Gender-Neutral,679,679,1
7757,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,3108,4155,1
7758,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),5535,5756,1
7759,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1349,1515,1
7760,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),2652,2652,1

In [30]:
NIT_Uttarakhand = df[df["Institute"] == "National Institute of Technology, Uttarakhand"]
NIT_Uttarakhand

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
7761,"National Institute of Technology, Uttarakhand","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,48410,51511,1
7762,"National Institute of Technology, Uttarakhand","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),52062,58610,1
7763,"National Institute of Technology, Uttarakhand","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,8676,8676,1
7764,"National Institute of Technology, Uttarakhand","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Female-only (including Supernumerary),13678,13678,1
7765,"National Institute of Technology, Uttarakhand","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,18875,20022,1
...,...,...,...,...,...,...,...,...
7840,"National Institute of Technology, Uttarakhand","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,10884,11480,1
7841,"National Institute of Technology, Uttarakhand","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),16728,17551,1
7842,"National Institute of Technology, Uttarakhand","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5365,5397,1
7843,"National Institute of Technology, Uttarakhand","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),7725,7725,1
7844,"National Institute of Technology, Uttarakhand","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2245,2245,1

In [31]:
NIT_Warangal = df[df["Institute"] == "National Institute of Technology, Warangal"]
NIT_Warangal

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
7845,"National Institute of Technology, Warangal","Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,4832,33942,1
7846,"National Institute of Technology, Warangal","Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),23176,23622,1
7847,"National Institute of Technology, Warangal","Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN (PwD),Gender-Neutral,483,483,1
7848,"National Institute of Technology, Warangal","Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,5579,5664,1
7849,"National Institute of Technology, Warangal","Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),6105,6105,1
...,...,...,...,...,...,...,...,...
8102,"National Institute of Technology, Warangal","Physics (5 Years, Integrated Master of Science)",HS,ST,Gender-Neutral,2262,2262,1
8103,"National Institute of Technology, Warangal","Physics (5 Years, Integrated Master of Science)",OS,OPEN,Gender-Neutral,13338,24390,1
8104,"National Institute of Technology, Warangal","Physics (5 Years, Integrated Master of Science)",OS,EWS,Gender-Neutral,4556,4556,1
8105,"National Institute of Technology, Warangal","Physics (5 Years, Integrated Master of Science)",OS,OBC-NCL,Gender-Neutral,9082,9578,1
8106,"National Institute of Technology, Warangal","Physics (5 Years, Integrated Master of Science)",OS,SC,Gender-Neutral,3157,3157,1

In [32]:
NIT_Surat = df[df["Institute"] == "Sardar Vallabhbhai National Institute of Technology, Surat"]
NIT_Surat

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
8107,Sardar Vallabhbhai National Institute of Techn...,"Artificial Intelligence (4 Years, Bachelor of ...",HS,OPEN,Gender-Neutral,6947,11382,1
8108,Sardar Vallabhbhai National Institute of Techn...,"Artificial Intelligence (4 Years, Bachelor of ...",HS,OPEN,Female-only (including Supernumerary),10221,11943,1
8109,Sardar Vallabhbhai National Institute of Techn...,"Artificial Intelligence (4 Years, Bachelor of ...",HS,OPEN (PwD),Gender-Neutral,544,544,1
8110,Sardar Vallabhbhai National Institute of Techn...,"Artificial Intelligence (4 Years, Bachelor of ...",HS,EWS,Gender-Neutral,1586,1911,1
8111,Sardar Vallabhbhai National Institute of Techn...,"Artificial Intelligence (4 Years, Bachelor of ...",HS,EWS,Female-only (including Supernumerary),2452,2452,1
...,...,...,...,...,...,...,...,...
8302,Sardar Vallabhbhai National Institute of Techn...,"Physics (5 Years, Integrated Master of Science)",OS,OPEN,Gender-Neutral,23950,40201,1
8303,Sardar Vallabhbhai National Institute of Techn...,"Physics (5 Years, Integrated Master of Science)",OS,EWS,Gender-Neutral,6523,7255,1
8304,Sardar Vallabhbhai National Institute of Techn...,"Physics (5 Years, Integrated Master of Science)",OS,OBC-NCL,Gender-Neutral,12453,15356,1
8305,Sardar Vallabhbhai National Institute of Techn...,"Physics (5 Years, Integrated Master of Science)",OS,SC,Gender-Neutral,5473,7033,1
8306,Sardar Vallabhbhai National Institute of Techn...,"Physics (5 Years, Integrated Master of Science)",OS,ST,Gender-Neutral,2400,3212,1

In [33]:
NIT_Nagpur = df[df["Institute"] == "Visvesvaraya National Institute of Technology, Nagpur"]
NIT_Nagpur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
8307,"Visvesvaraya National Institute of Technology,...","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,260,396,1
8308,"Visvesvaraya National Institute of Technology,...","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),258,290,1
8309,"Visvesvaraya National Institute of Technology,...","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,94,94,1
8310,"Visvesvaraya National Institute of Technology,...","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,60,94,1
8311,"Visvesvaraya National Institute of Technology,...","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Female-only (including Supernumerary),39,39,1
...,...,...,...,...,...,...,...,...
8510,"Visvesvaraya National Institute of Technology,...","Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Gender-Neutral,12904,13290,1
8511,"Visvesvaraya National Institute of Technology,...","Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),17236,17255,1
8512,"Visvesvaraya National Institute of Technology,...","Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,6511,6566,1
8513,"Visvesvaraya National Institute of Technology,...","Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),8582,8582,1
8514,"Visvesvaraya National Institute of Technology,...","Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2165,2229,1

In [34]:
NIT_Andhra_Pradesh = df[df["Institute"] == "National Institute of Technology, Andhra Pradesh"]
NIT_Andhra_Pradesh

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
8515,"National Institute of Technology, Andhra Pradesh","Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,42772,44836,1
8516,"National Institute of Technology, Andhra Pradesh","Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),45448,45448,1
8517,"National Institute of Technology, Andhra Pradesh","Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN (PwD),Gender-Neutral,1492,1492,1
8518,"National Institute of Technology, Andhra Pradesh","Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,7214,7214,1
8519,"National Institute of Technology, Andhra Pradesh","Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),8386,8386,1
...,...,...,...,...,...,...,...,...
8675,"National Institute of Technology, Andhra Pradesh",Metallurgical and Materials Engineering (4 Yea...,OS,EWS,Female-only (including Supernumerary),8875,8875,1
8676,"National Institute of Technology, Andhra Pradesh",Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Gender-Neutral,12625,14383,1
8677,"National Institute of Technology, Andhra Pradesh",Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),14942,14942,1
8678,"National Institute of Technology, Andhra Pradesh",Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,6917,6976,1
8679,"National Institute of Technology, Andhra Pradesh",Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2365,2365,1

In [36]:
df_list = [NIT_Agartala,NIT_Allahabad,NIT_Andhra_Pradesh,NIT_Arunachal_Pradesh,NIT_Bhopal,NIT_Calicut,NIT_Delhi,
          NIT_Durgapur,NIT_Goa,NIT_Hamirpur,NIT_Jaipur,NIT_Jalandhar,NIT_Jamshedpur,NIT_Kurukshetra,NIT_Manipur,NIT_Meghalaya,
          NIT_Mizoram,NIT_Nagaland,NIT_Nagpur,NIT_Puducherry,NIT_Patna,NIT_Rourkela,NIT_Raipur,NIT_Sikkim,NIT_Silchar,
          NIT_Srinagar,NIT_Surat,NIT_Surathkal,NIT_Tiruchirappalli,NIT_Uttarakhand,NIT_Warangal]

In [37]:
NIT = pd.concat(df_list , axis=0 , ignore_index=True)

In [38]:
NIT.to_csv("2023_csv")

In [39]:
NIT.shape

(5590, 8)