In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("2019.xlsx")

In [3]:
df.head(10)

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
0,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Gender-Neutral,6546,7720,1.0
1,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN,Female-only (including Supernumerary),11238,13803,1.0
2,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OPEN (PwD),Gender-Neutral,119P,119P,1.0
3,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Gender-Neutral,736,770,1.0
4,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,EWS,Female-only (including Supernumerary),1694,1694,1.0
5,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Gender-Neutral,2078,2930,1.0
6,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,OBC-NCL,Female-only (including Supernumerary),4337,6029,1.0
7,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Gender-Neutral,1238,1527,1.0
8,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,SC,Female-only (including Supernumerary),2540,2540,1.0
9,Indian Institute of Technology Bhubaneswar,"Civil Engineering (4 Years, Bachelor of Techno...",AI,ST,Gender-Neutral,403,486,1.0

In [4]:
NIT_Jalandhar = df[df["Institute"] == "Dr. B R Ambedkar National Institute of Technology, Jalandhar"]
NIT_Jalandhar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
2425,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,23600,43576,1.0
2426,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),48780,53275,1.0
2427,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,8002,10579,1.0
2428,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Female-only (including Supernumerary),20096,20096,1.0
2429,Dr. B R Ambedkar National Institute of Technol...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,46883,65507,1.0
...,...,...,...,...,...,...,...,...
45315,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),17881,18327,7.0
45316,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,5419,7764,7.0
45317,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),9376,9477,7.0
45318,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2826,3644,7.0
45319,Dr. B R Ambedkar National Institute of Technol...,"Textile Technology (4 Years, Bachelor of Techn...",OS,ST,Female-only (including Supernumerary),5207,5207,7.0

In [5]:
NIT_Jaipur = df[df["Institute"] == "Malaviya National Institute of Technology Jaipur"]
NIT_Jaipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
2657,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,889,2624,1.0
2658,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),1422,2360,1.0
2659,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,787,848,1.0
2660,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,746,1681,1.0
2661,Malaviya National Institute of Technology Jaipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Female-only (including Supernumerary),1311,1961,1.0
...,...,...,...,...,...,...,...,...
45494,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),15489,15912,7.0
45495,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,5325,6678,7.0
45496,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),8148,8148,7.0
45497,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2124,2409,7.0
45498,Malaviya National Institute of Technology Jaipur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),4633,4633,7.0

In [6]:
NIT_Bhopal = df[df["Institute"] == "Maulana Azad National Institute of Technology Bhopal"]
NIT_Bhopal

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
2844,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,1802,3587,1.0
2845,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),898,1906,1.0
2846,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,173,173,1.0
2847,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,554,655,1.0
2848,Maulana Azad National Institute of Technology ...,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,1138,1808,1.0
...,...,...,...,...,...,...,...,...
45695,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,OBC-NCL,Female-only (including Supernumerary),1868,1868,7.0
45696,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,SC,Gender-Neutral,470,730,7.0
45697,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,SC,Female-only (including Supernumerary),670,670,7.0
45698,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,ST,Gender-Neutral,402,402,7.0
45699,Maulana Azad National Institute of Technology ...,"Planning (4 Years, Bachelor of Planning)",OS,ST,Female-only (including Supernumerary),371,371,7.0

In [7]:
NIT_Allahabad = df[df["Institute"] == "Motilal Nehru National Institute of Technology Allahabad"]
NIT_Allahabad

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3058,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,15082,24675,1.0
3059,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),28997,32077,1.0
3060,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN (PwD),Gender-Neutral,1109,1109,1.0
3061,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,3159,3159,1.0
3062,Motilal Nehru National Institute of Technology...,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,7767,8886,1.0
...,...,...,...,...,...,...,...,...
45895,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Gender-Neutral,6589,8744,7.0
45896,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,4508,5311,7.0
45897,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),7846,7846,7.0
45898,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,2308,2308,7.0
45899,Motilal Nehru National Institute of Technology...,Production and Industrial Engineering (4 Years...,OS,ST,Female-only (including Supernumerary),4254,4254,7.0

In [8]:
NIT_Agartala = df[df["Institute"] == "National Institute of Technology Agartala"]
NIT_Agartala

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3267,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,OPEN,Gender-Neutral,209566,246429,1.0
3268,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,OPEN,Female-only (including Supernumerary),232116,232744,1.0
3269,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,SC,Gender-Neutral,31208,36480,1.0
3270,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,SC,Female-only (including Supernumerary),22654,22654,1.0
3271,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,ST,Gender-Neutral,4723,21221,1.0
...,...,...,...,...,...,...,...,...
46048,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,EWS,Gender-Neutral,5591,5780,7.0
46049,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,12347,13668,7.0
46050,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),19794,20048,7.0
46051,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,7644,8338,7.0
46052,National Institute of Technology Agartala,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,3126,3716,7.0

In [9]:
NIT_Calicut = df[df["Institute"] == "National Institute of Technology Calicut"]
NIT_Calicut

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3439,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,321,1258,1.0
3440,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),603,972,1.0
3441,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,59,59,1.0
3442,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,333,333,1.0
3443,National Institute of Technology Calicut,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,437,504,1.0
...,...,...,...,...,...,...,...,...
46276,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),13370,13370,7.0
46277,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,3789,5441,7.0
46278,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),7607,7607,7.0
46279,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1852,2335,7.0
46280,National Institute of Technology Calicut,"Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),3292,3292,7.0

In [10]:
NIT_Delhi = df[df["Institute"] == "National Institute of Technology Delhi"]
NIT_Delhi

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3677,National Institute of Technology Delhi,"Computer Science and Engineering (4 Years, Bac...",HS,OPEN,Gender-Neutral,4867,6577,1.0
3678,National Institute of Technology Delhi,"Computer Science and Engineering (4 Years, Bac...",HS,OPEN,Female-only (including Supernumerary),5321,9144,1.0
3679,National Institute of Technology Delhi,"Computer Science and Engineering (4 Years, Bac...",HS,OPEN (PwD),Gender-Neutral,344,344,1.0
3680,National Institute of Technology Delhi,"Computer Science and Engineering (4 Years, Bac...",HS,OBC-NCL,Gender-Neutral,2135,3313,1.0
3681,National Institute of Technology Delhi,"Computer Science and Engineering (4 Years, Bac...",HS,OBC-NCL,Female-only (including Supernumerary),5733,5733,1.0
...,...,...,...,...,...,...,...,...
46325,National Institute of Technology Delhi,Electronics and Communication Engineering (4 Y...,OS,OBC-NCL,Female-only (including Supernumerary),7169,7169,7.0
46326,National Institute of Technology Delhi,Electronics and Communication Engineering (4 Y...,OS,SC,Gender-Neutral,2324,2528,7.0
46327,National Institute of Technology Delhi,Electronics and Communication Engineering (4 Y...,OS,SC,Female-only (including Supernumerary),3176,3176,7.0
46328,National Institute of Technology Delhi,Electronics and Communication Engineering (4 Y...,OS,SC (PwD),Gender-Neutral,142,142,7.0
46329,National Institute of Technology Delhi,Electronics and Communication Engineering (4 Y...,OS,ST,Gender-Neutral,891,891,7.0

In [11]:
NIT_Durgapur = df[df["Institute"] == "National Institute of Technology Durgapur"]
NIT_Durgapur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3728,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Gender-Neutral,24464,36593,1.0
3729,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN,Female-only (including Supernumerary),29504,38095,1.0
3730,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OPEN (PwD),Gender-Neutral,385,385,1.0
3731,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,EWS,Gender-Neutral,4671,4671,1.0
3732,National Institute of Technology Durgapur,"Bio Technology (4 Years, Bachelor of Technology)",HS,OBC-NCL,Gender-Neutral,16505,25755,1.0
...,...,...,...,...,...,...,...,...
46516,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),12582,12582,7.0
46517,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,5817,6419,7.0
46518,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),8265,8265,7.0
46519,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,2271,2271,7.0
46520,National Institute of Technology Durgapur,Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),4444,4444,7.0

In [12]:
NIT_Goa = df[df["Institute"] == "National Institute of Technology Goa"]
NIT_Goa

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
3931,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OPEN,Gender-Neutral,54186,70831,1.0
3932,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OPEN,Female-only (including Supernumerary),80737,80737,1.0
3933,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OBC-NCL,Gender-Neutral,65696,88477,1.0
3934,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,OBC-NCL,Female-only (including Supernumerary),58849,58849,1.0
3935,National Institute of Technology Goa,"Civil Engineering (4 Years, Bachelor of Techno...",GO,SC,Gender-Neutral,36734,38230,1.0
...,...,...,...,...,...,...,...,...
46592,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,6865,7251,7.0
46593,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),13653,13653,7.0
46594,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,2478,3311,7.0
46595,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),6697,6697,7.0
46596,National Institute of Technology Goa,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1508,1508,7.0

In [13]:
NIT_Hamirpur = df[df["Institute"] == "National Institute of Technology Hamirpur"]
NIT_Hamirpur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4010,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,2386,7663,1.0
4011,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),4693,7758,1.0
4012,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,1333,2662,1.0
4013,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,3797,12643,1.0
4014,National Institute of Technology Hamirpur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Female-only (including Supernumerary),7353,9816,1.0
...,...,...,...,...,...,...,...,...
46799,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),12848,14754,7.0
46800,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,3639,4244,7.0
46801,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),8699,8699,7.0
46802,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1385,1540,7.0
46803,National Institute of Technology Hamirpur,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),3784,3784,7.0

In [14]:
NIT_Surathkal = df[df["Institute"] == "National Institute of Technology Karnataka, Surathkal"]
NIT_Surathkal

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4226,"National Institute of Technology Karnataka, Su...","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OPEN,Gender-Neutral,12479,15224,1.0
4227,"National Institute of Technology Karnataka, Su...","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OPEN,Female-only (including Supernumerary),12362,17576,1.0
4228,"National Institute of Technology Karnataka, Su...","Chemical Engineering (4 Years, Bachelor of Tec...",HS,EWS,Gender-Neutral,3686,3686,1.0
4229,"National Institute of Technology Karnataka, Su...","Chemical Engineering (4 Years, Bachelor of Tec...",HS,EWS,Female-only (including Supernumerary),10747,10747,1.0
4230,"National Institute of Technology Karnataka, Su...","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OBC-NCL,Gender-Neutral,7963,9010,1.0
...,...,...,...,...,...,...,...,...
46991,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Gender-Neutral,7294,9045,7.0
46992,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),13951,13951,7.0
46993,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,3141,3690,7.0
46994,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),5206,5206,7.0
46995,"National Institute of Technology Karnataka, Su...","Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,1550,1646,7.0

In [15]:
NIT_Meghalaya = df[df["Institute"] == "National Institute of Technology Meghalaya"]
NIT_Meghalaya

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4420,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,117205,117205,1.0
4421,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),224676,224676,1.0
4422,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,3264,7663,1.0
4423,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),4333,5404,1.0
4424,National Institute of Technology Meghalaya,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,25942,29211,1.0
...,...,...,...,...,...,...,...,...
47042,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),47721,49493,7.0
47043,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,9074,9121,7.0
47044,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),17321,17321,7.0
47045,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,4875,5569,7.0
47046,National Institute of Technology Meghalaya,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2141,2141,7.0

In [16]:
NIT_Nagaland = df[df["Institute"] == "National Institute of Technology Nagaland"]
NIT_Nagaland

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4476,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,2896,6555,1.0
4477,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),1894,4480,1.0
4478,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Gender-Neutral,30620,31701,1.0
4479,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OPEN,Female-only (including Supernumerary),40020,40701,1.0
4480,National Institute of Technology Nagaland,"Civil Engineering (4 Years, Bachelor of Techno...",OS,OBC-NCL,Gender-Neutral,9005,9287,1.0
...,...,...,...,...,...,...,...,...
47091,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,10826,11098,7.0
47092,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),18637,20030,7.0
47093,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5935,6843,7.0
47094,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2200,2200,7.0
47095,National Institute of Technology Nagaland,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),5368,5368,7.0

In [17]:
NIT_Patna = df[df["Institute"] == "National Institute of Technology Patna"]
NIT_Patna

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4532,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,2460,3895,1.0
4533,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),3638,3677,1.0
4534,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,517,517,1.0
4535,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS (PwD),Gender-Neutral,6,6,1.0
4536,National Institute of Technology Patna,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,1132,1374,1.0
...,...,...,...,...,...,...,...,...
47271,National Institute of Technology Patna,"Physics (5 Years, Integrated Master of Science)",OS,EWS,Gender-Neutral,5374,5374,7.0
47272,National Institute of Technology Patna,"Physics (5 Years, Integrated Master of Science)",OS,OBC-NCL,Gender-Neutral,13527,14266,7.0
47273,National Institute of Technology Patna,"Physics (5 Years, Integrated Master of Science)",OS,OBC-NCL,Female-only (including Supernumerary),14972,14972,7.0
47274,National Institute of Technology Patna,"Physics (5 Years, Integrated Master of Science)",OS,SC,Gender-Neutral,5247,5247,7.0
47275,National Institute of Technology Patna,"Physics (5 Years, Integrated Master of Science)",OS,ST,Gender-Neutral,1539,1539,7.0

In [18]:
NIT_Puducherry = df[df["Institute"] == "National Institute of Technology Puducherry"]
NIT_Puducherry

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4719,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,71004,189798,1.0
4720,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),172457,185038,1.0
4721,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,61723,63247,1.0
4722,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Female-only (including Supernumerary),61902,61902,1.0
4723,National Institute of Technology Puducherry,"Civil Engineering (4 Years, Bachelor of Techno...",HS,SC,Gender-Neutral,18653,21373,1.0
...,...,...,...,...,...,...,...,...
47342,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,8066,8352,7.0
47343,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),11656,11656,7.0
47344,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,3906,3906,7.0
47345,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),5637,5637,7.0
47346,National Institute of Technology Puducherry,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2099,2099,7.0

In [19]:
NIT_Raipur = df[df["Institute"] == "National Institute of Technology Raipur"]
NIT_Raipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
4795,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,2802,6167,1.0
4796,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),1788,3128,1.0
4797,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,902,1035,1.0
4798,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,2871,5789,1.0
4799,National Institute of Technology Raipur,"Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Female-only (including Supernumerary),1994,2628,1.0
...,...,...,...,...,...,...,...,...
47585,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Gender-Neutral,10230,11969,7.0
47586,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,OBC-NCL,Female-only (including Supernumerary),15616,17879,7.0
47587,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Gender-Neutral,4920,5776,7.0
47588,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,SC,Female-only (including Supernumerary),8378,8378,7.0
47589,National Institute of Technology Raipur,"Mining Engineering (4 Years, Bachelor of Techn...",OS,ST,Gender-Neutral,2430,2562,7.0

In [20]:
NIT_Sikkim = df[df["Institute"] == "National Institute of Technology Sikkim"]
NIT_Sikkim

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5048,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,543747,736092,1.0
5049,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),281218,712610,1.0
5050,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,286801,392729,1.0
5051,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,SC,Gender-Neutral,98653,98653,1.0
5052,National Institute of Technology Sikkim,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,25357,28282,1.0
...,...,...,...,...,...,...,...,...
47627,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Gender-Neutral,26108,35772,7.0
47628,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),44908,48202,7.0
47629,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,9142,9779,7.0
47630,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5012,5396,7.0
47631,National Institute of Technology Sikkim,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),4869,4869,7.0

In [21]:
NIT_Arunachal_Pradesh = df[df["Institute"] == "National Institute of Technology Arunachal Pradesh"]
NIT_Arunachal_Pradesh

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5106,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,152063,160299,1.0
5107,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,63828,63828,1.0
5108,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,SC,Gender-Neutral,17121,17121,1.0
5109,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,3999,6176,1.0
5110,National Institute of Technology Arunachal Pra...,"Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Female-only (including Supernumerary),2978,3688,1.0
...,...,...,...,...,...,...,...,...
47680,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,10102,10796,7.0
47681,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),17322,17322,7.0
47682,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5838,5870,7.0
47683,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),9313,9313,7.0
47684,National Institute of Technology Arunachal Pra...,"Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2044,2044,7.0

In [22]:
NIT_Jamshedpur = df[df["Institute"] == "National Institute of Technology, Jamshedpur"]
NIT_Jamshedpur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5165,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,27861,32896,1.0
5166,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),34711,43721,1.0
5167,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,1672,1672,1.0
5168,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,4182,4233,1.0
5169,"National Institute of Technology, Jamshedpur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,8199,9421,1.0
...,...,...,...,...,...,...,...,...
47819,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Gender-Neutral,9587,10410,7.0
47820,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Female-only (including Supernumerary),15930,15930,7.0
47821,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,5019,6731,7.0
47822,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),9299,9299,7.0
47823,"National Institute of Technology, Jamshedpur",Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,3105,3176,7.0

In [23]:
NIT_Kurukshetra= df[df["Institute"] == "National Institute of Technology, Kurukshetra"]
NIT_Kurukshetra

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5311,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,13022,24223,1.0
5312,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),28282,30528,1.0
5313,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,1696,1696,1.0
5314,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,3220,3526,1.0
5315,"National Institute of Technology, Kurukshetra","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Female-only (including Supernumerary),5333,5333,1.0
...,...,...,...,...,...,...,...,...
47977,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Gender-Neutral,7979,9937,7.0
47978,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,OBC-NCL,Female-only (including Supernumerary),14255,15336,7.0
47979,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,SC,Gender-Neutral,4224,5606,7.0
47980,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,SC,Female-only (including Supernumerary),6992,6992,7.0
47981,"National Institute of Technology, Kurukshetra",Production and Industrial Engineering (4 Years...,OS,ST,Gender-Neutral,2138,2964,7.0

In [24]:
NIT_Manipur = df[df["Institute"] == "National Institute of Technology, Manipur"]
NIT_Manipur

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5479,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,107498,169158,1.0
5480,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),78974,112352,1.0
5481,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,58703,58703,1.0
5482,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Female-only (including Supernumerary),55390,55390,1.0
5483,"National Institute of Technology, Manipur","Civil Engineering (4 Years, Bachelor of Techno...",HS,SC,Gender-Neutral,8974,8974,1.0
...,...,...,...,...,...,...,...,...
48030,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),50862,51682,7.0
48031,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,9300,10738,7.0
48032,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),19416,19416,7.0
48033,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,5495,5885,7.0
48034,"National Institute of Technology, Manipur","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2377,2377,7.0

In [25]:
NIT_Mizoram = df[df["Institute"] == "National Institute of Technology, Mizoram"]
NIT_Mizoram

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5541,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,264954,368694,1.0
5542,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),425240,464554,1.0
5543,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,OBC-NCL,Gender-Neutral,408863,410451,1.0
5544,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,SC,Gender-Neutral,82194,82194,1.0
5545,"National Institute of Technology, Mizoram","Civil Engineering (4 Years, Bachelor of Techno...",HS,ST,Gender-Neutral,8171,8450,1.0
...,...,...,...,...,...,...,...,...
48072,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,OPEN,Female-only (including Supernumerary),51845,52408,7.0
48073,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Gender-Neutral,10832,11781,7.0
48074,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),19841,19841,7.0
48075,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,6215,6566,7.0
48076,"National Institute of Technology, Mizoram","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,2614,2614,7.0

In [26]:
NIT_Rourkela = df[df["Institute"] == "National Institute of Technology, Rourkela"]
NIT_Rourkela

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5597,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,1278,2206,1.0
5598,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,13,13,1.0
5599,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,355,355,1.0
5600,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,699,792,1.0
5601,"National Institute of Technology, Rourkela","Architecture (5 Years, Bachelor of Architecture)",HS,SC,Gender-Neutral,503,722,1.0
...,...,...,...,...,...,...,...,...
48414,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,OPEN,Gender-Neutral,10133,16651,7.0
48415,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,EWS,Gender-Neutral,3228,3228,7.0
48416,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,OBC-NCL,Gender-Neutral,9844,10017,7.0
48417,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,SC,Gender-Neutral,1736,2566,7.0
48418,"National Institute of Technology, Rourkela","Physics (5 Years, Integrated Master of Science)",OS,ST,Gender-Neutral,2447,2447,7.0

In [27]:
NIT_Silchar = df[df["Institute"] == "National Institute of Technology, Silchar"]
NIT_Silchar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
5952,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Gender-Neutral,43940,68388,1.0
5953,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN,Female-only (including Supernumerary),77673,92514,1.0
5954,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,OPEN (PwD),Gender-Neutral,2482,2743,1.0
5955,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Gender-Neutral,9659,12076,1.0
5956,"National Institute of Technology, Silchar","Civil Engineering (4 Years, Bachelor of Techno...",HS,EWS,Female-only (including Supernumerary),15097,15097,1.0
...,...,...,...,...,...,...,...,...
48543,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),14464,15598,7.0
48544,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,3957,4500,7.0
48545,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),7961,8194,7.0
48546,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1495,1884,7.0
48547,"National Institute of Technology, Silchar","Mechanical Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),3335,3335,7.0

In [28]:
NIT_Srinagar = df[df["Institute"] == "National Institute of Technology, Srinagar"]
NIT_Srinagar

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6085,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OPEN,Gender-Neutral,59900,79647,1.0
6086,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OPEN,Female-only (including Supernumerary),84844,103878,1.0
6087,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",HS,OPEN (PwD),Gender-Neutral,2015,2015,1.0
6088,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",HS,EWS,Gender-Neutral,11816,12017,1.0
6089,"National Institute of Technology, Srinagar","Chemical Engineering (4 Years, Bachelor of Tec...",HS,EWS,Female-only (including Supernumerary),24621,24621,1.0
...,...,...,...,...,...,...,...,...
48705,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,OBC-NCL,Female-only (including Supernumerary),20060,20155,7.0
48706,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,SC,Gender-Neutral,7580,7863,7.0
48707,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,SC,Female-only (including Supernumerary),9648,9648,7.0
48708,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,ST,Gender-Neutral,3332,3820,7.0
48709,"National Institute of Technology, Srinagar",Metallurgical and Materials Engineering (4 Yea...,OS,ST,Female-only (including Supernumerary),5218,5218,7.0

In [29]:
NIT_Tiruchirappalli = df[df["Institute"] == "National Institute of Technology, Tiruchirappalli"]
NIT_Tiruchirappalli

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
6264,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Gender-Neutral,746,1790,1.0
6265,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN,Female-only (including Supernumerary),656,751,1.0
6266,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OPEN (PwD),Gender-Neutral,38,38,1.0
6267,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,EWS,Gender-Neutral,652,798,1.0
6268,"National Institute of Technology, Tiruchirappalli","Architecture (5 Years, Bachelor of Architecture)",HS,OBC-NCL,Gender-Neutral,513,649,1.0
...,...,...,...,...,...,...,...,...
48933,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),8054,11234,7.0
48934,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,2661,4386,7.0
48935,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),3935,3935,7.0
48936,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1006,1602,7.0
48937,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),2665,2665,7.0

In [30]:
NIT_Uttarakhand = df[df["Institute"] == "National Institute of Technology Uttarakhand"]

In [31]:
NIT_Warangal = df[df["Institute"] == "National Institute of Technology Warangal"]

In [32]:
NIT_Surat = df[df["Institute"] == "Sardar Vallabhbhai National Institute of Technology, Surat"]

In [33]:
NIT_Nagpur = df[df["Institute"] == "Visvesvaraya National Institute of Technology, Nagpur"]

In [34]:
NIT_Andhra_Pradesh = df[df["Institute"] == "National Institute of Technology, Andhra Pradesh"]

In [35]:
df_list = [NIT_Agartala,NIT_Allahabad,NIT_Andhra_Pradesh,NIT_Arunachal_Pradesh,NIT_Bhopal,NIT_Calicut,NIT_Delhi,
          NIT_Durgapur,NIT_Goa,NIT_Hamirpur,NIT_Jaipur,NIT_Jalandhar,NIT_Jamshedpur,NIT_Kurukshetra,NIT_Manipur,NIT_Meghalaya,
          NIT_Mizoram,NIT_Nagaland,NIT_Nagpur,NIT_Puducherry,NIT_Patna,NIT_Rourkela,NIT_Raipur, NIT_Sikkim,NIT_Silchar,
          NIT_Srinagar,NIT_Surat,NIT_Surathkal,NIT_Tiruchirappalli,NIT_Uttarakhand,NIT_Warangal]

In [36]:
NIT = pd.concat(df_list , axis=0 , ignore_index=True)

In [37]:
NIT.to_csv("NIT_2019")

In [38]:
NIT.shape

(30910, 8)

In [39]:
NIT

,Institute,Program,Quota,Seat Type,Gender,Opening,Closing,Round
0,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,OPEN,Gender-Neutral,209566,246429,1.0
1,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,OPEN,Female-only (including Supernumerary),232116,232744,1.0
2,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,SC,Gender-Neutral,31208,36480,1.0
3,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,SC,Female-only (including Supernumerary),22654,22654,1.0
4,National Institute of Technology Agartala,Biotechnology and Biochemical Engineering (4 Y...,HS,ST,Gender-Neutral,4723,21221,1.0
...,...,...,...,...,...,...,...,...
30905,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,OBC-NCL,Female-only (including Supernumerary),8054,11234,7.0
30906,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,SC,Gender-Neutral,2661,4386,7.0
30907,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,SC,Female-only (including Supernumerary),3935,3935,7.0
30908,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,ST,Gender-Neutral,1006,1602,7.0
30909,"National Institute of Technology, Tiruchirappalli","Production Engineering (4 Years, Bachelor of T...",OS,ST,Female-only (including Supernumerary),2665,2665,7.0